*.log*
.cache
.output
.env
dist
.DS_Store
build
.idea
logs
desktop.ini
report
*.ignore.*
*.epub
*.mobi
__MACOSX
.Saved/
_arc/
node_modules/
.vscode/
.publish/
*.log
*.sublime-*
*.rar
*.zip
ex_files
Thumbs.db